doctype 5
html(lang="en")
    head
        title= pageTitle
        != js('jquery')
        != js('shortcut')
        != js('index')
        != css('index')
    body
        div#header
            h1 Podscribbler
            input#audioUrl(type="input", value="http://d.5by5.tv/audio/broadcasts/hypercritical/2011/hypercritical-003.mp3")
            button#load Load
            button#play Play
            
        table#tracks                            
            thead
                tr
                    th Track 1
                    th Track 2
            tbody
                tr
                    td
                        input#track1
                    td
                        input#track2


